@model CarDealership.Models.Home.ContactRequestModel

@{
    ViewBag.Title = "Contact Information Submitted Confirmation";
}


<h2>Contact Information Submitted</h2>

<p>
    Thank you for contacting us!
    You will be hearing from us soon and
    we look forward to serving you!
</p>
